<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402389755012-0m5b8daun3tle60bkk87eju9ptgs8k9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402389755012-0m5b8daun3tle60bkk87eju9ptgs8k9m</string>
	<key>API_KEY</key>
	<string>AIzaSyC2_WAv9C7DcT_Lon6QqcNUbOMORVFA7y4</string>
	<key>GCM_SENDER_ID</key>
	<string>402389755012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.podcastAwesome</string>
	<key>PROJECT_ID</key>
	<string>podcast-awesome</string>
	<key>STORAGE_BUCKET</key>
	<string>podcast-awesome.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402389755012:ios:86b32c31316ff23ab40ed1</string>
</dict>
</plist>